*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    border:none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size);
  }
  :root{
    --font-size:16px;
  }
  button{
    background-color: transparent;
  }
  p{
    text-align: justify;
  }
  h1{
    font-size: calc(var(--font-size) * 2);
  }
  h2{
    font-size: calc(var(--font-size) * 1.7);
    font-weight: 400;
  }
  h3{
    font-size: calc(var(--font-size) * 1.5);
  }
  main,header{
    display:grid;
    grid-template-columns: repeat(16,1fr);
    position: fixed;
  }
  main{
    overflow-y: auto;
    padding-bottom: 55px;
  }
  header{
    left:0;
    right:0;
    width:100vw;
  }
  .intro1{
    transform: all 3s;
    animation: intro1 3s cubic-bezier(0.215, 0.610, 0.355, 1);
  }
  @keyframes intro1{
    0%,50%{
      opacity: 0;
    }
    50%,100%{
      opacity: 1;
    }
  }

  .tecnologies{
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .tecnologies li{
    margin: 2vmin;
  }
  